<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
</head>

<body>
    <!-- header -->
    <header id="header">
        <h1> 더조은 아카데미 레이아웃</h1>
    </header>
    <div class="container p-0">
    <!-- nav -->
     <nav>
        <ul class="container p-0">
            <li> <a href="board?cno=1">갤러리</a></li>
            <!-- <li> <a href="board?cno=2">자유게시판</a></li> -->
            <li> <a href="board.html">자유게시판</a></li>


            <li> <a href="board?cno=3">Q&amp;A</a></li>
            <li> <a href="board?cno=4">자료실</a></li>
        </ul>
     </nav>
    <!-- content -->
    <main>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Action item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">공지</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">공지</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">공지</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-action">기본글</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-action">기본글</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-action">기본글</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-action">기본글</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-action">기본글/a>
        </div>
    </main>
    </div>
    <!-- <footer> -->
    <footer>
        <p> copyright&copy</p>
        <address>대륭포스트 2차</address>
        </footer>

    <div class="arrow-area">
        <!-- 버튼 -->
        <a href="header"> <i class="fa-regular fa-circle-up"></i></a>
    </div> 
    <script>
        $(".slider").bxSlider ({auto:true,
             mode : 'horizontal'
            });

        $(window).scroll(function(e) {
                console.log(window.scrollY)
                if(window.scrollY > 500) {
                    $(".arrow-area i").fadeIn(200);
                }
                else{
                    $(".arrow-area i").fadeOut(200);
                }
            })
        </script>
</body>
</html>
 